<html>
  <head>
    <title>Angular admin</title>

    <!-- Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <scipt src="routes/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/ng-admin/build/ng-admin.min.css">
    <script src="bower_components/ng-admin/build/ng-admin.min.js"></script>
  </head>


  <script type="text/javascript">
    var admin = angular.module('adminApp', ['ng-admin']);

    admin.config(function (NgAdminConfigurationProvider) {
        var nga = NgAdminConfigurationProvider;
        // set the main API endpoint for this admin
        var admin = nga.application('My backend')
            .baseApiUrl('http://localhost:3000/');

        // define an entity mapped by the http://localhost:3000/clusters/:id endpoint
        var clusters = nga.entity('clusters').identifier(nga.field('id'));
        // set the application entities
        admin.addEntity(clusters);

        // customize entities and views
        clusters.listView()
            .title('All clusters')
            .description('List of clusters')
            .infinitePagination(true) // load pages as the user scrolls
            .fields([
                nga.field('id').label('ID'),
                nga.field('manager.hostname'),
                nga.field('manager.ipaddress'),
                nga.field('manager.alive')
            ])
            .listActions(['show', 'edit', 'delete']);




        clusters.creationView().fields();
        clusters.editionView().fields();

        nga.configure(admin);
    });







  </script>

  <body ng-app="adminApp">
    <div ui-view></div>
  </body>

</html>
