<head>
      <!-- Libraries -->
</head>
  <body ng-app='myApp'>
    <div ui-view></div>

    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Config File Manager</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#/home/" ng-click="addform=false">Clusters</a></li>
                <li><a href="#/home/properties" ng-click="addform=false">Properties</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                      <input type="text" class="form-control" placeholder="Search Cluster Names" ng-model="search.name">
                    </div>
                  </div>
              </form>
              <nav class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
                <ul class="nav navbar-nav">
                  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </nav>
      </div>

      <div ng-hide="isLoggedIn()">
            <p><h3 style="margin-left:30px;"> You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can modify clusters.</h3></p></br>
      </div>

      <div ng-repeat="cluster in clusters | filter:search">
        <div class="col-md-6">
        <span>
          <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">
           {{ cluster.name }}
          </button>
          <button class="btn btn-primary" ng-click="openEdit(md, cluster)">
            <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
          </button>
          <button class="btn btn-danger" ng-show="isLoggedIn()" ng-click='remove(cluster)'>
           <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
          </button>


          <div ng-show="isCollapsed" >
            <div class="well">
              <h4> Cluster Type: {{ cluster.type }}</h4>

              <div ng-show="isLoggedIn()">
                <button class="btn btn-primary" ng-click='open(md, cluster)'>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add System
                </button>
              </div>

              <table class="table table bordered table-striped">
                <thead>
                  <tr>
                    <td>
                      <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Machine
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </td>
                    <td>
                      <a href="#" ng-click="sortType = 'hostname'; sortReverse = !sortReverse">
                        Hostname
                        <span ng-show="sortType == 'hostname' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'hostname' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </td>
                    <td>
                      <a href="#" ng-click="sortType = 'ipaddress'; sortReverse = !sortReverse">
                        IP
                        <span ng-show="sortType == 'ipaddress' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'ipaddress' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </td>
                    <td>
                      <a href="#" ng-click="sortType = 'alive'; sortReverse = !sortReverse">
                        Alive
                        <span ng-show="sortType == 'alive' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'alive' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </td>
                    <td>
                        <a href="#"> Mem Usage </a>
                    </td>
                    <td>
                        <a href="#"> Disk Usage </a>
                    </td>
                    <td>
                        <a href="#"> Low Resources </a>
                    </td>

                  </tr>
                </thead>

                <tbody>
                  <tr>
                      <td>
                        <img src='http://www.clker.com/cliparts/q/j/I/0/8/d/green-circle-icon-md.png' ng-show = {{cluster.manager.alive}} style='width:20px;height:20'>
                        <img src='http://www.clker.com/cliparts/Q/l/D/8/k/m/red-circle-icon-md.png' ng-hide = {{cluster.manager.alive}} style='width:20px;height:20px'>
                        'Manager'
                      </td>
                      <td> {{ cluster.manager.hostname }} </td>
                      <td> {{ cluster.manager.ipaddress }} </td>
                      <td> {{ cluster.manager.alive }} </td>
                  </tr>
                  <tr ng-repeat='system in cluster.systems'>
                      <td>
                      <img src='http://www.clker.com/cliparts/q/j/I/0/8/d/green-circle-icon-md.png' ng-show="system.alive && !system.low_resources" style='width:20px;height:20'>
                      <img src='http://www.clker.com/cliparts/W/i/K/w/1/D/glossy-orange-circle-icon-md.png' ng-show="system.low_resources && system.alive" style='width:20px;height:20px'>
                      <img src='http://www.clker.com/cliparts/Q/l/D/8/k/m/red-circle-icon-md.png' ng-show='!system.alive' style='width:20px;height:20px'>

                       </td>

                      <td> {{ system.hostname }} </td>
                      <td> {{ system.ipaddress}} </td>
                      <td> {{ system.alive }} </td>
                      <td>
                        <progressbar class="progress-striped" value="system.mem_percent_used" ng-init='memprogresstype=determineProgress(system.mem_percent_used)' type="{{memprogresstype}}"> {{ system.mem_percent_used }}% </progressbar>
                      </td>
                      <td>
                        <progressbar class="progress-striped" value="system.disk_percent_used" ng-init='diskprogresstype=determineProgress(system.disk_percent_used)'type='{{diskprogresstype}}'>
                          {{ system.disk_percent_used }}% </progressbar>
                      </td>
                      <td> {{ system.low_resources }}</td>
                      <td ng-show="isLoggedIn()">
                      <button class="btn btn-primary" ng-click="openEditSystem(md, cluster, system)">
                        <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                      </button>
                        <button class="btn btn-danger" ng-click="removeSystem(cluster, system)">
                          <span class='glyphicon glyphicon-minus' aria-hidden='true'></span>
                        </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </span>
        </div>
      </div>

      <div ng-show="isLoggedIn()">
        <div class='col-md-4'>
          <div class='col-md-offset-2'>
            <img src='http://cdn1.iconfinder.com/data/icons/musthave/256/Add.png' class='img-rounded' ng-click='addform=true' ng-hide='addform' style='height:140;width:140'>
          </div>
          <div ng-show='addform'>
            <div class=well>
              <form class='form-horizontal' ng-submit="addCluster()">
                <div class="form-group">
                  <label for="clusterName" class="col-sm-2 control-label">Cluster Name </label>
                  <input type="text" id='clusterName' ng-model="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="clusterType" class="col-sm-2 control-label">Cluster Type </label>
                  <input type="text" id='clusterType' ng-model="type" placeholder="Type" ng-required>
                </div>
                <label  class="col-sm-2 control-label">Manager:</label>
                <div class="form-group">
                  <label for="managerhost" class="col-sm-2 control-label">Hostname</label>
                  <input type="text" id='managerhost' ng-model="managerhostname" placeholder="hostname" ng-required>
                </div>
                <div class="form-group">
                  <label for="managerip" class="col-sm-4 control-label">ipaddress</label>
                  <input type="text" id='managerip'ng-model="manageripaddress" placeholder="ipaddress" ng-required>
                </div>

                <div class='pull-right'>
                  <button class="submit btn btn-primary btn-md" ng-click="addform = false" style="padding-bottom: 8 px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </div>
              </form>
              <div class='pull-right' style='padding-right:5px;'>
                <button class='btn btn-danger btn-sm' ng-click='addform = false'>Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </script>

    <script type="text/ng-template" id="addSystemModal.html">
       <div class="modal-header">
            <h3 class="modal-title">Add System to {{cluster.name}}</h3>
        </div>
        <div class="modal-body">
           <form>
              <div class="form-group">
                <label for='sysHostname' class="control-label">Hostname:</label>
                <input type="text" id='sysHostname' ng-model="systemhostname" placeholder="hostname" ng-required>
              </div>
              <div class="form-group">
                <label for='sysipaddress' class="control-label">ipaddress:</label>
                <input type="text" id='sysipaddress' ng-model="systemipaddress" placeholder="ipaddress" ng-required><br/>
              </div>
              <div class="form-group">
                <label for='sysalive' class="control-label">Alive:</label>
                <input type="text" id='sysalive' ng-model="systemalive" placeholder="alive" ng-required></p>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save(cluster)">Save</button>
        </div>
    </script>

    <script type="text/ng-template" id="editSystemModal.html">
       <div class="modal-header">
            <h3 class="modal-title">Edit System</h3>
        </div>
        <div class="modal-body">
           <form>
              <div class="form-group">
                <label for='sysHostname' class="control-label">Hostname:</label>
                <input type="text" id='sysHostname' ng-model="systemhostname" placeholder="hostname" ng-required>
              </div>
              <div class="form-group">
                <label for='sysipaddress' class="control-label">ipaddress:</label>
                <input type="text" id='sysipaddress' ng-model="systemipaddress" placeholder="ipaddress" ng-required><br/>
              </div>
              <div class="form-group">
                <label for='sysalive' class="control-label">Alive:</label>
                <input type="text" id='sysalive' ng-model="systemalive" placeholder="alive" ng-required></p>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save(cluster, system)">Save</button>
        </div>
    </script>



     <script type="text/ng-template" id="editClusterModal.html">
       <div class="modal-header">
            <h3 class="modal-title">Edit {{cluster.name}}</h3>
        </div>
        <div class="modal-body">
           <form>
              <div class="form-group">
                <label for='clusternameid' class="control-label">Cluster Name:</label>
                <input type="text" id='clusternameid' ng-model="clustername" placeholder="Name">
              </div>
              <div class="form-group">
                <label for='clustertypeid' class="control-label">Cluster Type:</label>
                <input type="text" id='clustertypeid' ng-model="clustertype" placeholder="Type">
              </div>
              <div class="form-group">
                <label for='manHostname' class="control-label">Manager Hostname:</label>
                <input type="text" id='manHostname' ng-model="managerhostname" placeholder="hostname">
              </div>
              <div class="form-group">
                <label for='manipaddress' class="control-label">Manager ipaddress:</label>
                <input type="text" id='manipaddress' ng-model="manageripaddress" placeholder="ipaddress"><br/>
              </div>
              <div class="form-group">
                <label for='manalive' class="control-label">Manager Alive:</label>
                <input type="text" id='manalive' ng-model="manageralive" placeholder="alive"></p>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save(cluster._id)">Save</button>
        </div>
    </script>



    <script type="text/ng-template" id="/home_properties.html">
       <div class="page-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Config File Manager</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#/home" ng-click="addform=false">Clusters</a></li>
                <li><a href="#/home/properties" ng-click="addform=false">Properties</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                      <input type="text" class="form-control" placeholder="Search" ng-model="search">
                    </div>
                  </div>
              </form>
              <nav class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
                <ul class="nav navbar-nav">
                  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </nav>
      </div>

      <div ng-show="isLoggedIn()">
        <form class='form-horizontal' ng-submit="add()">
          <label for="Key" class="">Key</label>
          <input type="text" id='Key' ng-model="key" placeholder="Key" ng-required>
          <label for="Value" class="">Value</label>
          <input type="text" id='Value' ng-model="value" placeholder="Value" ng-required>
          <button class="submit btn btn-sm btn-primary">Add</button>
        </form>
      </div>

      <table class="table table bordered table-striped">
        <table class="table table bordered table-striped">
        <thead>
          <tr>
            <td>
              <a href="#" ng-click="sortType = 'key'; sortReverse = !sortReverse">
                Key
                <span ng-show="sortType == 'key' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'key' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'value'; sortReverse = !sortReverse">
                Value
                <span ng-show="sortType == 'value' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="prop in properties | orderBy:sortType:sortReverse | filter:search">
              <td> {{prop.key}} </td>
              <td>{{prop.value}} </td>
              <td ng-show="isLoggedIn()">
                <button class="btn btn-primary" ng-click="open(md, prop)">
                    <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                </button>

                <button class="btn btn-danger" ng-click='remove(prop)'>
                  <span class='glyphicon glyphicon-minus' aria-hidden='true'></span>
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </script>


    <script type="text/ng-template" id="editPropertyModal.html">
       <div class="modal-header">
            <h3 class="modal-title">Edit Property</h3>
        </div>
        <div class="modal-body">
           <form>
              <div class="form-group">
                <label for='keyid' class="control-label">Key:</label>
                <input type="text" id='keyid' ng-model="key" ng-required>
              </div>
              <div class="form-group">
                <label for='valueid' class="control-label">Value:</label>
                <input type="text" id='valueid' ng-model="value" ng-required><br/>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save(property)">Save</button>
        </div>
    </script>






    <!-- Register Template -->
    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="register()"
                style="margin-top:30px;">
                <div class="form-group">
                  <input type="text"
                  class="form-control"
                  placeholder="Username"
                  ng-model="user.username"></input>
                </div>
                <div class="form-group">
                  <input type="password"
                  class="form-control"
                  placeholder="Password"
                  ng-model="user.password"></input>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </script>



    <!-- Login Template -->
    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <div class='row'>
        <div class='col-md-4 col-md-offset-4'>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Log in</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="logIn()"
                style="margin-top:30px;">
                <div class="form-group">
                  <input type="text"
                  class="form-control"
                  placeholder="Username"
                  ng-model="user.username"></input>
                </div>
                <div class="form-group">
                  <input type="password"
                  class="form-control"
                  placeholder="Password"
                  ng-model="user.password"></input>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src='/js/ConfigServer/ConfigServerApp.js'></script>
    <script src='/js/ConfigServer/Controllers/AuthController.js'></script>
    <script src='/js/ConfigServer/Controllers/clusterController.js'></script>
    <script src='/js/ConfigServer/Controllers/ClusterModalController.js'></script>
    <script src='/js/ConfigServer/Controllers/editSystemModalController.js'></script>
    <script src='/js/ConfigServer/Controllers/NavbarController.js'></script>
    <script src='/js/ConfigServer/Controllers/PropertyController.js'></script>
    <script src='/js/ConfigServer/Controllers/PropertyModalController.js'></script>
    <script src='/js/ConfigServer/Controllers/systemModalController.js'></script>
    <script src='/js/ConfigServer/Services/authFactory.js'></script>
    <script src='/js/ConfigServer/Services/clusterFactory.js'></script>
    <script src='/js/ConfigServer/Services/propertiesFactory.js'></script>

  </body>
</html>
